#start_background {
    background-image: url('../static/pictures/starting_page.png');
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
    height: 87%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#start_button {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
}

#main_menu {
    background-image: url('../static/pictures/main_menu.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}

.str_text {
    background-color: black;
    color: white;
}


.death_text{
    color: darkred;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 40px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    margin-right: 5px;
}