{% extends "layout.html" %}
{% block content %}
    <body id="start_background">


    <div>
        <p class="str_text" id="story_text">You are at a crossroads of sort, blue sky, green field nothing out of the
            ordinary, to your left in the distance
            you
            see a mountain, to your right, a town.
            <br>
            <button id="mountain" class="btn btn-info remove" type="button">Go to mountain</button>
            <br>
            <button id="gate" class="btn btn-info remove" type="button">Go to town</button>
        </p>
        <div class="row align-items-center" id="container">
            <div class="align-content-sm-center">
                <div id="alertbox" class="alert alert-info text-center font-weight-bold"  hidden role="alert"></div>
            </div>
        </div>
    </div>
    <audio id="music" src="" autoplay></audio>
    </body>

{% endblock %}