{% extends "layout.html" %}
{% block content %}
    <body id="start_background">
    <div>
        <p class="str_text" id="story_text">You are at a crossroads of sort, blue sky, green field nothing out of the
            ordinary, to your left in the distance
            you
            see a mountain, to your right, a town.</p>
        <button id="mountain" class="btn btn-info" type="button">Go to mountain</button>
        <button id="gate" class="btn btn-info" type="button">Go to town</button>
    </div>
    </body>

{% endblock %}